<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarReserva( input.value )" type="text" class="form-control" placeholder="Buscar reserva">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="crearReserva()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Nueva reserva</button>
                </div>
                <h3 class="card-title">Reservas registradas <span class="label label-primary label-rounded">8</span></h3>
                <table class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>F. Inicio</th>
                            <th>F. Fin</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>