<div class="container-fluid">

    <div class="row">
        <div class="col-3" *ngFor="let habitacion of habitaciones">

            <div class="card text-white bg-info">
                <div class="card-header">habitacion: {{habitacion.numero}}</div>
                <div class="card-body">
                    <h5 class="card-title text-white">{{habitacion.categoria.nombre}}</h5>
                    <p class="card-text">{{habitacion.categoria.detalles}}</p>
                </div>
            </div>
        </div>
    </div>
</div>